body {
	font-family:Consolas;
	background:grey;
	border-style:solid;
	
}

.header{
	padding:8px;
	text-align:center;
	background:orange;
	border-bottom:solid;
	
}

h1{
	font-size:4.5vw;	
}



a{
	color:white;
	text-decoration:none;
}


.nav{
	border-style:solid;
	border-color:black;
	background-color:#8C9A9E;
	border-radius:20px;
	vertical-align:middle !important;
	padding:0.5vw;
}

#nav{
	display:flex;
	justify-content:center;
	overflow:auto;
	font-size:3vw;
	font-family:Monospace;
	
}
.nav a:hover{
	color:yellow;
}

.main{
	display:block;
	margin:auto;
	padding:20px;
	background-color:orange;
	border-bottom:solid;
}

.home{
	color:white;
	padding:20px;
	border-style:solid;
	border-color:black;
	background:Gray;
	font-style:italic;
	font-family:Monospace;

}

.about{
	border-style:dotted;
	padding:20px;
	text-decoration:none;
}

.footer{
	padding:0.025px;
	background:darkOrange;
	font-size:12px;
	display:flex;
}

p{
	margin-right:0.8em;
}

h3{
	text-decoration:underline;
}
.special{
	vertical-align:bottom !important;
}

td {
	vertical-align:top;	
	
}

img{
	margin-right:10px;
	max-width:100%;
	
}
table{
	border:none;
}

button{
  background-color: #8C9A9E;
  border-color:black;
  color: white;
  border-radius:20px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover{
	background-color: #8C9A9E;
	color:yellow;
}